    /*---------- help and first run element styles -------- */
    .credits-cover{
        opacity:0;
        position: absolute;
        height: 100%;
        width: 100%;
        box-sizing: border-box;
        pointer-events:none;
        transition: opacity 0.5s ease, bottom 0.5s ease;
        bottom: -50%;
    }
    
    .credits-cover-visible{
        transition: opacity 0.5s ease, bottom 0.5s ease;
        opacity:1;
        pointer-events:initial;
        bottom: 0px;
    }
    .credit-grid-tile {
        background-color: #eff0f2;
    }