   /*-- new post dialog styles --*/
   
   md-dialog#new_post_dialog {
      overflow: hidden;
   }
   
   .new_post_dialog_scroll {
      flex: 1;
   }
   
   #dialog_header {
      min-height: 60px;
      max-height: 200px;
      position: absolute;
      z-index: 1000;
      /*pointer-events: none;*/
      background-color: rgb(161, 10, 25);
   }
   
   #dialog_header md-icon {
      color: rgba(255, 255, 255, 0.87);
   }
   
   #header_image {
      top: -20px;
      width: 100%;
      position: absolute;
      background-color: #bccac7;
      filter: brightness(85%);
   }
   
   .image-gradient-overlay.new-post-img-gradient {
      bottom: 0;
      top: initial;
      height: 60px;
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, .5));
   }
   /*#newPostLinkButtons {*/
   /*   position: absolute;*/
   /*   opacity: 1.00;*/
   /*   height: 100%;*/
   /*   width: 100%;*/
   /*   display: flex;*/
   /*   justify-content: space-around;*/
   /*   align-content: center;*/
   /*   flex-direction: row;*/
   /*}*/
   
   #header_link_input_container {
      width: 100%;
      padding: 0 4px 0 14px;
      display: flex;
      transition: opacity 0.5s ease;
      justify-content: flex-end;
   }
   
   #header_link_input {
      height: 30px;
      width: 100%;
      margin: auto 0;
      font-size: 20px;
   }
   
    #header_link_input input {
      border-color: rgba(255, 255, 255, 0.12);
    }
   
    #header_link_input input::-webkit-input-placeholder {
      color: rgba(255, 255, 255, 0.6);
   }
   
   #header_title {
      margin: 0 12px;
      position: absolute;
      transition: opacity 0.5s ease;
   }
   
   .gradient-overlay-metadata md-chip .md-chip-content{
      height: 100%;
      display: flex;
      align-items: center;
   }
   
   md-progress-linear.link-loading {
      bottom: 0px;
      position: absolute;
      z-index: 1000;
      height: 2px;
   }
   
   #newPostLinkInput .md-errors-spacer {
      min-height: 0px;
   }
   
   #newPostLinkInputTxt::-webkit-input-placeholder {
      color: white;
      opacity: 0.6;
   }
   
   #newPostLinkButtons:hover {
      opacity: 100;
      transition: opacity 1s, margin-top 1s;
   }
   
   #class_dropdown_button {
          padding: 0 6px;
    margin: 4px 4px;
    border-radius: 3px;
    background-color: rgba(158,158,158,0.2);
   }
   
   .newPostClassSelector {
      height: 222px;
      width: 180px;
      padding: 10px 13px;
      background-color: white;
      position: absolute;
      z-index: 1001;
      margin: 58px 0px 0px 12px;
      box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .2), 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12);
   }
   
   #class_select md-select-value {
      border-bottom: 0px;
   }
   
   .newPostClassListContainer {
      width: 253px;
      max-height: 180px;
      overflow-x: hidden;
      overflow-y: auto;
      border: 1px solid #d6d2cb;
      box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12);
      border-radius: 1px;
   }
   
   md-chips md-chips-wrap.md-chips {
      padding-left: 1000px;
      margin-left: -1000px;
   }
   
   input.newPostTitle {
      background-color: rgba(0, 0, 0, 0);
      font-weight: bold;
      font-family: 'Roboto Condensed', 'Droid Sans', arial, sans-serif;
      outline: none;
      border: none;
      margin: 0;
      width: 100%;
   }
   
   .newPostBody:empty:before {
      content: "Say something";
      font-size: small;
      color: #757575;
      font-family: 'Roboto Slab', 'Times New Roman', serif;
      left: 20px;
      line-height: 15px;
      -moz-user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;
   }
   
   .newPostBody {
      font-size: 14px;
      line-height: 19px;
      min-height: 46px;
      padding-top: 12px;
      font-family: 'Roboto Slab', 'Times New Roman', serif;
      white-space: pre-wrap;
      word-wrap: break-word;
      outline: none;
      word-wrap: break-word;
   }
   
   .dialog_buttons {
      height: 36px;
      padding-top: 14px;
      padding-bottom: 14px;
      padding-left: 20px;
      padding-right: 0px;
      left: 0px;
      right: 0px;
      position: absolute;
   }
   
   button#New_Post_Submit.md-button {
      height: 36px;
      margin: 0px;
      margin-left: 0;
      padding: 0px;
      vertical-align: top;
      background-color: #3a76e5;
      color: white;
   }
   
   button#New_Post_Submit.md-button:hover {
      background-color: #3972DC;
      box-shadow: 0 0 6px rgba(0, 0, 0, .16), 0 6px 12px rgba(0, 0, 0, .32)
   }
   
   .textformatingbutton {
      margin: 0 -24px 0 -24px;
      padding: 0;
   }
   
   #new_post_dialog md-toast {
      min-width: 294px
   }
   /* general */
   
   .hover_black:hover {
      color: black;
   }
   
   .raisedTextfield {
      height: 36px;
      font-size: 16px;
      background: 0;
      border: 0;
      border-radius: 2px;
      padding: 0 8px;
      outline: none;
      background-color: white;
      box-shadow: 0 1px 5px -1px rgba(0, 0, 0, .5);
      transition: background-color .2s box-shadow .2s;
   }
   
   .raisedTextfield:hover {
      background-color: whitesmoke;
      box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .2), 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12);
      transition: background-color .2s box-shadow .2s;
   }
   
   .raisedTextfield:focus {
      background-color: white;
      box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .2), 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12);
      transition: background-color .2s box-shadow .2s;
   }
   