/*-------------- post card styles ----------- */

.posts-content {
    position: relative;
}

.post-card {
    border-radius: 2px;
    background-color: rgb(255,255,255);
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);
    -webkit-transition: all 400ms ease;
    transition: all 400ms ease;
}

.post-card-header {
    border-bottom: solid 1px black;
    border-radius: 3px 3px 0 0;
    position: relative;
    min-height: 46px;
    overflow: hidden;
}

.post-card-header:not(.noLink) {
    cursor: pointer;
}

.post-card-header:not(.noLink):hover .post-card-image{
    transform: translateY(0);
}

.post-card-image {
    border-radius: 3px 3px 0 0;
    display: flex;
    width: 100%;
    margin-top: -2.5%;
    transition: all 0.3s ease;
    transform: translateY(2.5%);
}

.post-card-image-gradient {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    height: 56px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));
    color: white;
}

.post-card-description-gradient {
    position: relative;
    z-index: 1;
    right: 0;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: -40px;
    height: 40px;
   /* background-image: linear-gradient(rgba(0, 0, 0, 0) 0%, rgb(233, 236, 251) 85%)*/;
}

.post-card-metadata-text {
    margin: 2px auto 2px auto;
    padding: 0 16px;
    color: white;
    text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.45);
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    font-weight: normal;
    font-size: 12px;
    transition: opacity 0.2s
}

.post-card-header:not(.noLink):hover .post-card-metadata-text, #dialog_header:hover:not(.noLink) .post-card-metadata-text{
    opacity: 0;
    transition: opacity 0.2s
}

.post-card-link-text {
    opacity: 0;
    right: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: absolute;
    margin-top: 14px;
    padding: 0px 16px;
    font-weight: bold;
    transition: opacity 0.2s;
}

.post-card-header:hover:not(.noLink) .post-card-link-text, #dialog_header:hover:not(.noLink) .post-card-link-text {
    opacity: 1;
    transition: opacity 0.2s
}

.post-card-title {
    padding: 20px 16px 0px 16px;
    margin: 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.post-card-creator {
    color: rgba(0, 0, 0, .54);
    font-size: 13px;
    margin: 0px 16px 0px 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: break-all;
}

#like_thumb_button {
    min-width: 1px;
    border-radius: 100px;
    margin: 0 0 0 8px;
    padding: 4px 8px 0px 8px;
}

#like_thumb_button:hover {
    background-color: rgba(0, 0, 0, 0);
}

#like_thumb_button.md-button .md-ripple-container{
    border-radius: 100px;
}

.like-counter {
    font-size: 16px;
    font-weight: 700;
    color: rgba(0,0,0,0.54);
}

.post-card:hover .md-button.md-icon-button md-icon.preBookmarkIcon{
    display: block;
}

.md-button.md-icon-button md-icon.preBookmarkIcon{
    display: none;
}

/*.md-button.md-icon-button md-icon.postBookmarkIcon{*/
/*}*/

/*.post-card-header:hover md-icon.postBookmarkIcon:hover{*/
/*    display: block;*/
/*}*/

#post_card_description {
    overflow: hidden;
    margin: 16px 16px 0 16px;
    max-height: 7em;
    color: black;
}

.small-icon {
    font-size: 12pt;
    height: 1.17em;
    width: 1em;
    min-width: 1px;
    min-height: 1px;
}

 /*--------------------------------------------------------------- */
/* -------------------------- Animations ------------------------ */
.post-card.ng-leave {
  -webkit-transition: all ease 400ms;
  transition: all ease 400ms;
}
.post-card.ng-leave.ng-leave-active {
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
  opacity: 0;
}

.post-card.ng-enter {
  -webkit-transition: all ease-out 400ms;
  transition: all ease-out 00ms;
  -webkit-transition-delay: 500ms;
  transition-delay: 500ms;
  -webkit-transform: translateY(150px);
   transform: translateY(150px);
   opacity: 0;
}

.post-card.ng-enter.ng-enter-active {
  -webkit-transform: scale(1) translateY(0);
  transform: scale(1) translateY(0);
  opacity: 1;
}