    /*---------- searchbar styles -------- */

    search-bar {
        flex: 1;
        padding-left: 24px;
    }
    
    md-autocomplete.searchBar {
        max-width: 720px;
    }
    
    md-autocomplete.searchBar md-autocomplete-wrap {
        padding-left: 52px;
    }
        
    md-autocomplete.searchBar md-autocomplete-wrap input {
        padding-left: 0px;
    }
    .searchBarChips md-chips-wrap.md-chips md-autocomplete button {
        display: block;
    }
    
    .searchBar md-autocomplete-wrap input#input-0:focus::-webkit-input-placeholder {
        color: #757575;
    }
    
    .searchbar>md-autocomplete-wrap>input:-moz-placeholder {
        color: #fff;
    }
    
    .searchbar>md-autocomplete-wrap>input:focus:-moz-placeholder {
        color: #757575;
    }
    
    .searchbar>md-autocomplete-wrap>input:-ms-input-placeholder {
        color: #fff;
    }
    .searchbar>md-autocomplete-wrap>input:focus:-ms-input-placeholder {
        color: #757575;
    }
    
    .md-virtual-repeat-offsetter .md-autocomplete-suggestions li:hover,.md-virtual-repeat-offsetter .md-autocomplete-suggestions li:focus {
        background-color: rgb(255,255,255)
    }
    .searchBar md-progress-linear ._md-container._md-mode-indeterminate {
        background-color: rgb(170,209,249);
    }
    .searchBar md-progress-linear ._md-container._md-mode-indeterminate ._md-bar{
        background-color: rgb(16,108,200);
    }