    /*---------- searchbar styles -------- */

    search-bar {
        flex: 1;
        padding-left: 24px;
    }
    
    .searchBarChips md-chips-wrap.md-chips{
        max-width: 720px;
        border: 0px;
        padding: 0 0 0 52px;
        margin: 0px;
    }
    
    .searchBarChips md-chips-wrap md-chip{
        z-index:60;
        
    }

    .md-chips ._md-chip-input-container md-autocomplete.searchBar {
        max-width: 720px;
        height: 40px;
        /*background: rgba(255, 255, 255, 0.16);*/

        background: rgb(255,255,255);
        box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);
        -webkit-transition: background 100ms ease-in, width 100ms ease-out;
        transition: background 100ms ease-in, width 100ms ease-out
    }
    
    .md-chips ._md-chip-input-container md-autocomplete.searchBar md-autocomplete-wrap {
        position: relative;
        overflow: visible;
        height: 40px;
    }
    
    .searchBarChips .md-chips ._md-chip-input-container {
       float: none;
       margin: 0;
    }

    .md-chips ._md-chip-input-container md-autocomplete.searchBar input {
       /* padding-top: 6px;
        padding-bottom: 6px;*/
        font-size: 14px;
        box-sizing: border-box;
        border: none;
        box-shadow: none;
        outline: 0;
        background: 0 0;
        width: 100%;
        padding: 0 15px 0 0;
        line-height: 40px;
        height: 40px;
    }
    
    .searchBarChips md-chips-wrap.md-chips md-autocomplete button {
        display: block;
    }
    
   .searchBar md-autocomplete-wrap input#input-0:focus  {
        background-color:white;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
    }
    
    .searchbar md-autocomplete-wrap input#input-0 {
        color: red;
        background-color: rgb(176,48,61);
        border-radius: 4px;
    }
    
    .searchBar md-autocomplete-wrap input#input-0:focus::-webkit-input-placeholder {
        color: #757575;
    }
    
    .searchbar>md-autocomplete-wrap>input:-moz-placeholder {
        color: #fff;
    }
    
    .searchbar>md-autocomplete-wrap>input:focus:-moz-placeholder {
        color: #757575;
    }
    
    .searchbar>md-autocomplete-wrap>input:-ms-input-placeholder {
        color: #fff;
    }
    .searchbar>md-autocomplete-wrap>input:focus:-ms-input-placeholder {
        color: #757575;
    }
    
    .search-menu-style {
        z-index
    }
    
    .md-virtual-repeat-offsetter .md-autocomplete-suggestions li:hover,.md-virtual-repeat-offsetter .md-autocomplete-suggestions li:focus {
        background-color: rgb(255,255,255)
    }
    .searchBar md-progress-linear ._md-container._md-mode-indeterminate {
        background-color: rgb(170,209,249);
    }
    .searchBar md-progress-linear ._md-container._md-mode-indeterminate ._md-bar{
        background-color: rgb(16,108,200);
    }