    /*-------------------- sidebar styles --------------------- */
    md-sidenav.sidenav-overlay {
        z-index: 60;
        position: fixed;
        margin-top: 56px;
        height: 100%;
    }
    md-sidenav.sidenav-inline {
        background-color: #f2f2f2;
        z-index: 0;
        width: 252px;
        height: 100%;
    }

    md-sidenav md-menu-item {
        width: 100%;
    }

    md-sidenav md-icon {
        width: 24px;
        padding: 0;
    }

    .side-nav-scroll {
        overflow-y: auto;
    }

    .side-nav-scroll::-webkit-scrollbar {
        background: transparent;
        width: 8px;
    }::-webkit-scrollbar-thumb {
        background: #bdbdbd;
    }

    md-sidenav.sidenav-inline .side-nav-scroll {
        overflow-y: hidden;
        width: 100%;
    }

    md-sidenav.sidenav-inline:hover .side-nav-scroll {
        overflow-y: auto;
    }

    md-sidenav.sidenav-inline md-menu-item>.md-button {
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
    }
    md-sidenav md-menu-item>.md-button.selected {
           background-color: rgba(0,0,0,.05);
           color: #306acf;
    }

    .side-nav-classes md-menu-item>.md-button {
        border-radius: 3px;
    }

    .side-nav-section {
        border-bottom: 1px solid #ddd;
    }

    .side-nav-classes {
        margin-left: 12px;
    }

    .side-nav-bottom {
        width: 100%;
        border-top: 1px solid #ddd;
    }