      /*-------------------- sidebar styles --------------------- */
    .sidenav-inline {
        width: 252px;
        background-color: #f2f2f2;
        overflow: Hidden;
        margin-right: 100px;
        margin-left: -256px;
        transition: margin 1s;
        overflow-y: auto;
    }

    .sidenav-inline.xs {
        margin-right: 0px;
        margin-left: -256px;
    }

    .sidenav-inline.side-nav-open {
        margin-left: 0px;
        margin-right: 4px;
    }

    .side-nav md-menu-item {
        width: 100%;
    }

    .side-nav-scroll {
        overflow-y: auto;
    }

    .side-nav-scroll::-webkit-scrollbar {
        background: transparent;
        width: 8px;
    }::-webkit-scrollbar-thumb {
        background: #bdbdbd;
    }

    .sidenav-overlay .hover-search.sideNavClassSearch {
        background-color:#fff;
        width:100%;
        top:0px;
        left: -100%;
        margin: 0;
        box-sizing: border-box;
        transition: left 0.2s ease, opacity 0.2s ease;
    }
    .sidenav-inline .hover-search.sideNavClassSearch {
        background-color: #f2f2f2;
        width:100%;
        top:0px;
        left: -100%;
        box-sizing: border-box;
        transition: left 0.2s ease, opacity 0.2s ease;
    }
    .hover-search.sideNavClassSearch.hover-search-visible {
        left: 0;
    }

    .side-nav-classes md-menu-item>.md-button {
        border-radius: 3px;
    }

    .side-nav-section {
        border-bottom: 1px solid #ddd;
    }

    .side-nav-header {
        display: block;
        font-size: 14px;
        text-transform: uppercase;
        padding: 16px;
        font-weight: 500;
    }
    .side-nav-option {
        text-transform: none;
        font-weight: 400;
        display: -ms-flexbox;
        display: -webkit-box;
        display: flex;
        text-align: start;
        margin: 0 2px;
        padding: 0 32px;
        height: 48px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 16px;
    }

    .side-nav-classes {
        margin-left: 12px;
    }

    .side-nav-bottom {
        /*width: 100%;*/
        border-top: 1px solid #ddd;
    }

    button.selected.md-button {
        background-color: rgba(0,0,0,.05);
        font-weight: bold;
        color: #212121;
    }