/*---------------------universal styles---------------------- */

button:focus,
div:focus{
    outline: 0;
}


/*this chart specifies the css variables for the class background pastel colors : 
:root {
--pPurple: hsl(300,70%,93%);
--pBlue: hsl(232,70%,95%);
--pLightblue: hsl(189,60%,93%);
--pGreen: hsl(120,68%,93%);
--pOrange: hsl(40,76%,93%);
--pRed: hsl(8,70%,93%);
}
 */
/*------------ background and layout styles ----------- */

html body {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    background-color: #f2f2f2;
}

.horizontalContainer {
    /* The body is the vertical layout container*/
    position: relative;
    -webkit-box-flex:1;
        -ms-flex:1;
            flex:1;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
}

#content_container {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    overflow: auto;
    padding: 58px 108px 20px 100px;
    background-color: #f2f2f2;
    -webkit-transition: padding-left 0.4s;
    transition: padding-left 0.4s;
}

#content_container.sidenav-open{
    -webkit-transition: padding-left 0s;
    transition: padding-left 0s;
    padding-left: 2px;
}


/*---------------------------------------------------------------- */

/*-------------- Loading & first launch styles ----------- */

#welcome_dialog {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 14px;
    font-weight: 400;
    position: fixed;
    background-color: #fff;
    opacity: 100;
    z-index: 76;
    max-height: 366px;
    max-width: 450px;
    overflow-y: auto;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 24px;
    border-radius: 4px;
    box-shadow: 0 7px 8px -4px rgba(0, 0, 0, .2), 0 13px 19px 2px rgba(0, 0, 0, .14), 0 5px 24px 4px rgba(0, 0, 0, .12);
}
#welcome_dialog p:not(.signin-text), ul {
    margin-top: 0px
}

#login_spinner {
    margin: auto;
}

#loading_spinner {
    margin: 80px auto 0px auto;
}

.signin-button-container {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.signin-button {
    display: inline-box;
    margin: auto;
    -webkit-transition: box-shadow .2s, background-color .2s;
    transition: box-shadow .2s, background-color .2s;
    background-color: #AF001A;
    width: 86px;
    height: 36px;
    padding-left: 7px;
    padding-right: 6px;
    border-radius: 2px;
    color: white;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .26);
}

.signin-button:hover {
    -webkit-transition: box-shadow .2s, background-color .2s;
    transition: box-shadow .2s, background-color .2s;
    box-shadow: 0 0 6px rgba(0, 0, 0, .16), 0 6px 12px rgba(0, 0, 0, .32);
    background-color: #A20019;
}

.signin-button:active {
    -webkit-transition: box-shadow .2s;
    transition: box-shadow .2s;
    box-shadow: 0 7px 8px -4px rgba(0, 0, 0, .2);
}

.signin-icon {
    height: 1.5em;
    width: 1.5em;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 7px;
    color: white;
    border-right: #960017 2px solid;
}

.signin-text {
    color: white;
    margin-top: -28px;
    margin-left: 39px;
    cursor: pointer;
}


/* ---------------------- Genral Styles---------------------- */

[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
    display: none !important;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.default-mouse {
    cursor: default;
}

.not-visible{
    visibility: hidden;
}
.no-margin {
    margin: 0 !important;
}
.no-padding {
    padding: 0 !important;
}
.no-border {
    border: none;
    outline: none;
}
.no-border:focus {
    border: none;
    outline: none;
}

.dark-icon {
    color: rgba(0, 0, 0, 0.8);
}
.dark-icon:hover {
    color: black;
}

.full-height{
 height: 100%;
}

.full-width{
 width: 100%;
}

.rounded{
 border-radius: 3px;
}

.rounded-right{
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.rounded-left{
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.darken-on-hover:hover{
    background-color: rgba(158,158,158,0.2);
}

.raise-on-hover:hover {
    /*-webkit-transition: .2s;
    transition: .2s;
    box-shadow: 0 0 6px rgba(0, 0, 0, .16), 0 6px 12px rgba(0, 0, 0, .32);*/
}

.overlay-background {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .7);
    z-index: 75;
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
}

md-input-container.button-select md-select-value {
    border-bottom: 0px !important;
    padding:0px !important;
    padding-bottom: 2px  !important;
}




/* --------------------------- Animations ------------------- */

.post-card.angular-grid-item.ng-leave {
  -webkit-transition: opacity 450ms ease, -webkit-transform 450ms ease;
  transition: opacity 450ms ease, -webkit-transform 450ms ease;
  transition: opacity 450ms ease, transform 450ms ease;
  transition: opacity 450ms ease, transform 450ms ease, -webkit-transform 450ms ease;
}
.post-card.angular-grid-item.ng-leave.ng-leave-active {
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
  opacity: 0;
}
.post-card.angular-grid-item.ng-enter {
  -webkit-transition: opacity 450ms ease, -webkit-transform 450ms ease;
  transition: opacity 450ms ease, -webkit-transform 450ms ease;
  transition: opacity 450ms ease, transform 450ms ease;
  transition: opacity 450ms ease, transform 450ms ease, -webkit-transform 450ms ease;
  -webkit-transition-delay: 00ms;
  transition-delay: 300ms;
  -webkit-transform: translateY(150px);
  transform: translateY(150px);
  opacity: 1;
}
.post-card.ng-enter-stagger {
  /* this will have a 400ms delay between each successive enter animation */
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;

  /* As of 1.4.4, this must always be set: it signals ngAnimate
    to not accidentally inherit a delay property from another CSS class */
  -webkit-transition-duration: 0s;
          transition-duration: 0s;
}
.post-card.angular-grid-item.ng-enter.ng-enter-active {
   -webkit-transform: translateY(0);
   transform: translateY(0);
   opacity: 1;
}
