<!DOCTYPE html>
<html lang="en">

    <head>
        <title>York Lab App</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
        <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
        <meta http-equiv="Pragma" content="no-cache" />
        <meta http-equiv="Expires" content="0" />
        <base href="//york-resources-app-kw-m.c9users.io/">
        <link rel="stylesheet" href="css/style.css" />
        <link rel="shortcut icon" href="https://scontent.xx.fbcdn.net/v/t1.0-1/c0.0.160.160/p160x160/10418519_10154327468015085_5519923068710858644_n.jpg?oh=731f220566f8bcd629726b0d0458a5dc&oe=57B6E81B">
    </head>

    <body ng-app="YorkResourcesApp" ng-controller="ApplicationController">
        <!-------------------------------------------------------->
        <!-------------- The Welcome/Login screen ---------------->
        <div id="overlay_background" class="overlay-background">
            <div id="welcome_dialog">
                <h1 style="margin-top:-6px">Welcome</h1>
                <p>This is a place where any student can post anything they think might help other students in the york community.</p>
                <p>Some things to keep in mind:</p>
                <ul>
                    <li>This website is accessible by anyone at York, so don't post anything you wouldn't want teachers and staff to see!</li>
                    <li>Participation is esensial, you'll need to contribute something at least every semester to keep accesing other student's work.</li>
                    <li>See something counter-productive? Click the flag icon to send an anonymous notice to Ms.Shery about that post.</li>
                </ul>
                <p>Sign in with your me@york.org email account.</p>
                <div class="signin-button-container">
                    <div id="auth_button" class="signin-button" ng-click="signIn()" style="display:none; cursor: pointer;">
                        <!--<img class="signin-icon" src="/images/Google_G.png"/>-->
                        <svg class="signin-icon" viewBox="0, 0, 40, 40">
                            <path d="M 22,20 h15 a17,17 0 1,1 -8,-14" fill="none" stroke="#4885ed" stroke-width="6" />
                        </svg>  
                        <p class="signin-text">Sign in</p>
                    </div>
                    <md-progress-circular id="login_spinner" class="md-accent" md-mode="indeterminate" md-diameter="80"></md-progress-circular>
                </div>
            </div>
        </div>
        
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css" media="none" onload="if(media!='all')media='all'">
         <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic|Roboto+Mono|Roboto+Slab|Material+Icons" rel="stylesheet" media="none" onload="if(media!='all')media='all'">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script>
        <!-------------------------------------------------------->
        <!------------------- The top toolbar -------------------->
        <toolbar-top hide-xs show-gt-xs class="toolbar-top"></toolbar-top>
        <toolbar-top-mobile show-xs hide-gt-xs class="toolbar-top"></toolbar-top-mobile>
        <md-sidenav side-nav-insides class="ng-cloak side-nav md-sidenav-left md-whiteframe-z2 sidenav-overlay" md-component-id="sidenav_overlay"></md-sidenav>
        <!-------------------------------------------------------->
        <add-lower-button></add-lower-button>
        <!-------------------------------------------------------->
        <div class="horizontalContainer">
            <!---------------------------------------------------->
            <md-sidenav side-nav-insides class="ng-cloak side-nav md-sidenav-left sidenav-inline" md-is-locked-open="globals.sidenavIsOpen" md-component-id="sidenav_inline" hide-xs show-gt-sm></md-sidenav>
            <!----- The content, ie posts, resources, etc. ------->
            <div id="content_container" ng-class="{ 'sidenav-open' : globals.sidenavIsOpen }">
                <ng-view></ng-view>
                <div angular-grid="allPosts" ag-options="angularGridOptions" ag-id="posts">
                    <md-card post-card class="post-card raise-on-hover" ng-repeat="Post in allPosts" ng-style="classList[Post.Class.Name].color"></md-card>
                </div>
                <md-progress-circular id="loading_spinner" class="md-accent" md-mode="indeterminate" md-diameter="60"></md-progress-circular>
            </div>
            <!--<span class="unselectable default-mouse" style="font-size: 150%; background-color:rgba(0,0,0,0.5); position:fixed; bottom:0px;right:0px; color:white;">PRE-ALPHA version</span>-->
        </div>
<div class="not-visible"><new-post-content id="new_post_preload" class="md-dialog-container"></new-post-content></div>
        <!-------------------------------------------------------->
        <!---------------------- Libraries ----------------------->
        <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-sanitize.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
        <script src="Libraries/angular-grid.js"></script>

        <!-- Main Scripts -->
        <script src="js/app.js"></script>
        <script src="js/generalFunctions.js"></script>

        <!-- Directives -->
        <script src="directives/directives.js"></script>

        <!-- Services -->
        <script src="js/Services/authorizationService.js"></script>
        <script src="js/Services/googleDriveService.js"></script>

        <!-- Controllers -->
        <script src="js/Controllers/mainController.js"></script>
        <script src="js/Controllers/newPostController.js"></script>

        <!-- Google API library (must be loaded last) -->
        <script src="https://apis.google.com/js/client.js?onload=gClientLoaded"></script>

    </body>
    <link rel="stylesheet" href="css/toolbarTop.css" />
    <link rel="stylesheet" href="css/sideNav.css" />
    <link rel="stylesheet" href="css/postCard.css" />
    <link rel="stylesheet" href="css/newPost.css" />
</html>