<md-dialog>
	<md-dialog-content class="md-dialog-content">
		<form action="https://docs.google.com/a/york.org/forms/d/e/1FAIpQLSctToJKWAnKR_Y0alWolQtreBJP-GLlxsD20zbAYgKaMcVXNQ/formResponse" method="POST" target="_blank">
			<div style="margin-bottom: 22px; padding: 0px 17px; font-size: medium;">
					<div style="-webkit-box-align: center; align-items: center; display: flex; flex-wrap: wrap; justify-content: space-between;">
						<div style="box-sizing: border-box; font-size: 34px; line-height: 45.9px; max-width: 100%; min-width: 0%;">Feedback</div>
					</div>
					<div style="white-space: pre-wrap; line-height: 17.55px; margin-top: 22px; font-size: 13px;">I would love to hear your thoughts or feedback on how StudyHub can be improved!</div>
				</div>
				<div class="freebirdFormviewerViewItemList" role="list" style="padding: 0px; font-size: medium;">
					<div role="listitem" class="freebirdFormviewerViewItemsItemItem" jsname="ibnC6b" jscontroller="pkFYWb" jsaction="sPvj8e:F0ZU4;" data-other-input="qSV85" data-other-hidden="MfYA1e" data-item-id="1932512150" style="background-color: transparent; margin-top: 2px; padding: 16px 17px; break-inside: avoid; transition: background-color 200ms cubic-bezier(0, 0, 0.2, 1);">
						<div class="freebirdFormviewerViewItemsItemItemHeader" style="display: flex; justify-content: space-between;">
							<div class="freebirdFormviewerViewItemsItemItemTitleContainer" style="-webkit-box-align: start; align-items: flex-start; box-sizing: border-box; display: flex; -webkit-box-orient: vertical; flex-direction: column; max-width: 100%; min-width: 0%; position: relative;">
								<div class="freebirdFormviewerViewItemsItemItemTitle" dir="auto" id="i1" role="heading" aria-level="2" aria-describedby="i.desc.1932512150" style="color: rgb(0, 0, 0); font-size: 20px; line-height: 27px; width: 133.016px;">Feedback Type</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<md-radio-group class="md-accent" ng-model="feedbackType">>
				<md-radio-button value="Comments">Comments</md-radio-button>
				<md-radio-button value="Questions">Questions</md-radio-button>
				<md-radio-button value="Bug Reports">Bug Reports</md-radio-button>
				<md-radio-button value="Feature Requests">Feature Requests</md-radio-button>
			</md-radio-group>
			<md-input-container class="md-accent">
				<textarea name="entry.326955045" rows="5" cols="0" dir="auto" aria-label="Feedback"></textarea>
			</md-input-container>
			<md-input-container class="md-accent">
				<textarea name="entry.1696159737" rows="5" cols="0" dir="auto" aria-label="Suggestions for improvement"></textarea>
			</md-input-container>
			<input type="submit" value="Submit" class="md-accent md-button md-raised" />
			<input style="display:none" type="radio" name="entry.1591633300" value="Comments" role="radio" aria-label="Comments" ng-checked="feedbackType == 'Comments'">
			<input style="display:none" type="radio" name="entry.1591633300" value="Questions" role="radio" aria-label="Questions" ng-checked="feedbackType == 'Questions'">
			<input style="display:none" type="radio" name="entry.1591633300" value="Bug Reports" role="radio" aria-label="Bug Reports" ng-checked="feedbackType == 'Bug Reports'">
			<input style="display:none" type="radio" name="entry.1591633300" value="Feature Request" role="radio" aria-label="Feature Request" ng-checked="feedbackType == 'Feature Requests'">
		</form>
	</md-dialog-content>
</md-dialog>
