<!DOCTYPE html>
<html>
<!--<div style="width: 400px; padding:24px">
  <h2>York Community Study Resources Help</h2>
  <p>Welcome! This is a place where any student can post anything they think might help other students to the york community.</p>
  
</div>-->
<md-dialog-content class="md-dialog-content" role="document">
    <h2 class="md-title">Help</h2>
    <div class="md-dialog-content-body">
        <p style="width:200px">Welcome! This is a place where any student can post anything they think might help other students in the york community.</p>
    </div>
</md-dialog-content>
<md-dialog-actions>
    <md-button class="md-accent" ng-click="close()">Close</md-button>
</md-dialog-actions>