<!DOCTYPE html>
<html>
<body>
<md-dialog>
    <script src="../../templates/js/newPost.js"></script>
    <div id="dialog_scroll">
        <div id="dialog_header">
            <md-icon style="margin: 8px 0 0 12px; float:left;color:white;display:block; position:absolute; z-index:50" class="ng-isolate-scope material-icons">group</md-icon>
            <span flex></span>
            <md-menu md-position-mode="target-right target" md-offset="-6 6">
                <!-- Trigger element is a md-button with an icon -->
                <md-button ng-click="openMenu($mdOpenMenu, $event)" class="md-icon-button" style="float:right;margin-right: 0px;position: relative;z-index:50;">
                    <md-icon style="color:white;" class="material-icons ng-isolate-scope">more_vert</md-icon>
                </md-button>
                <md-menu-content>
                    <md-menu-item>
                        <md-button>
                            <md-icon>link</md-icon>Add Link</md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button>
                            <md-icon>cloud_queue</md-icon>Add drive file</md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button>
                            <md-icon>attach_file</md-icon>upload file</md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
            <img ng-src="{{Preview()}}" id="newPostImg">
            <div id="newPostLinkButtons">
                <md-input-container md-no-float id="newPostLinkInput" class="md-whiteframe-4dp">
                    <input id="newPostLinkInputTxt" ng-model="Link" ng-change="type()" placeholder="Paste a link" type="url">
                </md-input-container>
            </div>
            <div class="newPostImgGradient"></div>
        </div>
        <div id="newPostContent">
            <md-menu md-position-mode="target target" md-offset="12 45">
                <md-button id="class-dropdown-button" ng-click="$mdOpenMenu($event)" class="md-warn">
                    <span>Class</span>
                    <md-icon>arrow_drop_down</md-icon>
                </md-button>
                <md-menu-content width="4" style="padding:6px 6px">
                    <p style="margin: 3px 0 0 5px; font-size: 12px; color: #6D6D6D;">What class is this?</p>
                    <input type="text" autofocus ng-model="classSearch" placeholder="Search classes" class="raisedTextfield" style="margin: 6px 0 10px 0; transition: background-color .2s, box-shadow .2s;">
                    <div class="newPostClassListContainer">
                        <md-menu-item ng-repeat="class in courses | filter: classSearch">
                            <md-button style="padding-right:0" ng-click="classSelected(this)">
                                {{class}}
                                <md-icon style="float:right; margin-right: 4px; padding-top:4px">keyboard_arrow_right</md-icon>
                            </md-button>
                        </md-menu-item>
                    </div>
                </md-menu-content>
            </md-menu>
            <md-chips ng-model="Tags" readonly="readonly">
                <input type="text" placeholder="Add a tag">
            </md-chips>
            <input ng-model="Title" class="newPostTitle" placeholder="Title">
            <div id="DescriptionTxt" class="newPostBody" contenteditable="true"></div>
        </div>
    </div>
    <md-dialog-actions>
        <md-button id="New_Post_Submit" ng-click="submit()" class="md-raised">Submit</md-button>
        <md-button class="text-formating-button md-icon-button " style="font-weight: 800;  margin: 0 -6px 0 0; padding: 0;">B</md-button>
        <md-button class="md-icon-button textformatingbutton" style="text-decoration: underline;  margin: 0 -6px 0 0; padding: 0;">U</md-button>
        <md-button class="md-icon-button text-format-button" style="font-style: oblique;  margin: 0 -6px 0 0; padding: 0;">I</md-button>
        <!--<md-button class="md-icon-button text-format-button" style="margin: 0 -6px 0 0; padding: 0;">
            <md-icon style="font-size:18px;line-height: 24px;">format_list_bulleted</md-icon>
        </md-button>-->
        <span flex></span>
        <md-button class="md-icon-button text-format-button hover_black" style="margin-right:0px;" ng-click="close()">
            <md-icon style="font-size:26px; line-height: 25px">delete</md-icon>
        </md-button>
    </md-dialog-actions>
</md-dialog>
</body>
<html>