<md-dialog aria-label="Mango (Fruit)" ng-cloak>
  <form>
    <md-toolbar style="background-color:rgba(0, 0, 0, 0.5); height: 200px; overflow-y: hidden">
      <div class="md-toolbar-tools">
        <md-button class="md-icon-button">
          <md-icon>group</md-icon>
        </md-button>
        <h2>
          <span>Title</span>
        </h2>
        <span flex></span>
        <md-button class="md-icon-button" aria-label="More">
          <md-icon>more_vert</md-icon>
        </md-button>
      </div>
      <img ng-src="https://api.pagelr.com/capture?https://www.wikiwand.com/en/Weimar_Republicp=1&width=400&height=260&key=Ca7GOVe9BkGefE_rvwN2Bw" id="newPostImg">
      <div class="newPostImgGradient">
        <md-input-container md-no-float id="newPostLinkInput">
          <input id="newPostLinkInputTxt" ng-model="Link" placeholder="Paste a link" type="url">
        </md-input-container>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <md-chips ng-model="Tags" readonly="readonly">
        <input type="text" placeholder="Add a tag">
      </md-chips>
      <div class="md-dialog-content">
        <input ng-model="Title" class="newPostTitle md-title" placeholder="Title" md-autofocus>
        <div id="DescriptionTxt" class="newPostBody" contenteditable="true"></div>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button id="New_Post_Submit" ng-click="submit()" class="md-raised">Submit</md-button>
        <md-button class="text-formating-button md-icon-button " style="font-weight: 800;  margin: 0 -6px 0 0; padding: 0;">B</md-button>
        <md-button class="md-icon-button textformatingbutton" style="text-decoration: underline;  margin: 0 -6px 0 0; padding: 0;">U</md-button>
        <md-button class="md-icon-button text-format-button" style="font-style: oblique;  margin: 0 -6px 0 0; padding: 0;">I</md-button>
        <md-button class="md-icon-button text-format-button" style="margin: 0 -6px 0 0; padding: 0;">
            <md-icon style="font-size:18px;line-height: 24px;">format_list_bulleted</md-icon>
        </md-button>
      <span flex></span>
              <md-button class="md-icon-button text-format-button hover_black" style="margin-right:0px;" ng-click="close()">
            <md-icon style="font-size:26px; line-height: 25px">delete</md-icon>
        </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>