<md-dialog aria-label="Mango (Fruit)" ng-cloak>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <md-button class="md-icon-button">
          <md-icon>group</md-icon>
        </md-button>
        <h2>
          <span>Title</span>
        </h2>
        <span flex></span>
        <md-button class="md-icon-button" aria-label="Favorite">
          <md-icon>favorite</md-icon>
        </md-button>
        <md-button class="md-icon-button" aria-label="More">
          <md-icon>more_vert</md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <md-chips ng-model="Tags" readonly="readonly">
        <input type="text" placeholder="Add a tag">
      </md-chips>
      <div class="md-dialog-content">
        <input ng-model="Title" class="newPostTitle md-title" placeholder="Title" md-autofocus>
        <div id="DescriptionTxt" class="newPostBody" contenteditable="true"></div>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button href="http://en.wikipedia.org/wiki/Mango" target="_blank">
        More on Wikipedia
      </md-button>
      <span flex></span>
      <md-button ng-click="answer('not useful')">
        Not Useful
      </md-button>
      <md-button ng-click="answer('useful')" style="margin-right:20px;">
        Useful
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>