<md-dialog style="overflow:hidden">
  <md-dialog-content style="position:relative">
    <md-button class="md-fab md-primary" aria-label="Use Android">
          <md-icon>arrow_back</md-icon>
    </md-button>
    <md-button class="md-fab md-primary" aria-label="next">
          <md-icon>arrow_forward</md-icon>
    </md-button>
    <md-tabs class="md-accent" md-selected="onboardingPageNumber">
      <md-tab id="tab1">
        <md-tab-label>Item One</md-tab-label>
        <md-tab-body>
          View for Item #1 <br/>
          data.selectedIndex = 0;
        </md-tab-body>
      </md-tab>
      <md-tab id="tab2">
        <md-tab-label>{{data.secondLabel}}</md-tab-label>
        <md-tab-body>
          View for Item #2 <br/>
          data.selectedIndex = 1;
        </md-tab-body>
      </md-tab>
      <md-tab id="tab3">
        <md-tab-label>Item Three</md-tab-label>
        <md-tab-body>
          View for Item #3 <br/>
          data.selectedIndex = 2;
        </md-tab-body>
      </md-tab>
    </md-tabs>
  </md-dialog-content>
  <md-dialog-actions>
    <md-button class="md-accent" ng-click="closeDialog()">Skip</md-button>
  </md-dialog-actions>
</md-dialog>