<link rel="stylesheet" href="css/createPost.css" />
<md-dialog id="new_post_dialog">
   <md-dialog-content class="new_post_dialog_scroll" style="opacity:0" ng-style="{'background-color': Post.Class.Color + ' 0.6)'}">
      <div id="dialog_header" class="post-card-header" ng-class="{'no-link':Post.Type == 'NoLink','md-whiteframe-3dp': (operation == 'view' && Post.Link == '' && newPostScroll > 0) || (operation != 'view' && newPostScroll > 139),'not-operation-view':operation != 'view'}"
         md-ink-ripple="{{Post.Link != '' && operation == 'view'}}" ng-click="openLink(Post.Link, operation != 'view')" ng-style="{'height': ((operation == 'view' && Post.Link == '') ? (60):(200-newPostScroll)) + 'px'}">
         <img ng-src="{{Post.PreviewImage}}" id="header_image" ng-class="{'post-card-image':operation == 'view'}"></img>
         <div class="gradient-overlay new-post-img-gradient">
            <div id="header_title" style="opacity: 0" class="gradient-overlay-metadata metadata-regular">
               <h5 style="margin: 0">{{Post.Title}}</h5>
               <span style="font-weight:700; font-size:14px"><md-icon class="small-icon" style="color:white">people</md-icon> {{Post.Class.Name || 'No class'}}</span>
               <span ng-hide="Post.Tags.length < 1"><md-icon class="small-icon" style="color:white">style</md-icon>{{Post.Tags.join(', ')}}</span>
            </div>
            <div class="gradient-overlay-metadata metadata-regular" ng-hide="operation != 'view'">
               <span ng-hide="Post.Class.Name == null"><md-icon>people</md-icon> {{Post.Class.Name}}</span>
               <span><md-icon>event</md-icon> {{Post.CreationDate | date : "mm/dd/yyyy"}}</span>
            </div>
            <div class="gradient-overlay-metadata metadata-link" style="font-size:18px" ng-hide="Post.Link == '' || Post.Type == 'gDrive' || operation != 'view'">
               <span><md-icon>language</md-icon> {{removeHttp(Post.Link)}}</span>
            </div>
            <div class="md-chips gradient-overlay-metadata" style="position:absolute; padding: 0 40px 0 8px" ng-class="{'metadata-link': operation == 'view'}" ng-hide="Post.Type != 'gDrive'">
               <md-chip>
                  <div class="md-chip-content">
                     <img ng-src="{{Post.AttachmentIcon}}" style="margin-right:4px"></img>
                     <span>{{Post.AttachmentName}}</span>
                     <button class="md-chip-remove" style="margin-right:-10px; pointer-events:initial" ng-click="clearLink()">
                        <md-icon style="color:rgb(66,66,66)">close</md-icon>
                     </button>
                  </div>
               </md-chip>
            </div>
            <div id="header_link_input_container" class="gradient-overlay-metadata" ng-hide="operation == 'view'">
               <md-input-container id="header_link_input" md-no-float ng-hide="Post.Type == 'gDrive'">
                  <input ng-model="Post.Link" style="color:white" placeholder="http://" type="text">
               </md-input-container>
               <md-menu md-position-mode="target-right target" class="attach-menu">
                  <md-button ng-click="$mdOpenMenu($event)" class="md-icon-button" style="margin:0">
                     <md-icon md-menu-origin style="font-size: 24px">attach_file</md-icon>
                  </md-button>
                  <md-menu-content>
                     <md-menu-item>
                        <md-button ng-click="::showPicker('Upload', true, 'update')"><span flex>Upload file</span>
                           <md-icon style="margin: auto 0 auto 16px">file_upload</md-icon>
                        </md-button>
                     </md-menu-item>
                     <md-menu-item>
                        <md-button ng-click="::showPicker('Drive', true, 'update')"><span flex>Attatch drive file</span><img md-menu-align-target class="unselectable" style="width:22px; height:22px; float:right; margin: auto 0 auto 16px; opacity: 0.54;" src="images/drive_icon.svg"></md-button>
                     </md-menu-item>
                  </md-menu-content>
               </md-menu>
            </div>
         </div>
         <md-progress-linear class="link-loading" md-mode="indeterminate" ng-disabled="!previewLoading"></md-progress-linear>
      </div>
      <div id="new_post_content" ng-class="{'small-header': Post.Type == 'NoLink' && operation == 'view'}">
         <div flex layout="row">
            <md-select ng-model="Post.Class" ng-model-options="{trackBy: '$value.Name'}" ng-hide="operation == 'view'" class="md-no-underline" placeholder="Class" id="class_dropdown_button" md-on-close="clearClassSelectSearch()">
               <md-option ng-value="{'Catagory':'Other','Name':'Memes','Color':'ffffff'}" class="rainbow" ng-class="{'hide': queryParams.classpath != 'Memes'}">
                  Memes
               </md-option>
               <md-select-header class="classSelectSearchbox">
                  <input ng-model="classSelectSearch" id="class_select_input" type="text" placeholder="Search for a class.." class="md-text">
               </md-select-header>
               <md-option ng-value="::{'Catagory':'Other', 'Name':'Other', 'Color':'ffffff'}" ng-class="{'hide': classSelectSearch}">
                  Other
               </md-option>
               <md-optgroup ng-repeat="Catagory in ::classList" label="{{::Catagory.Catagory}}" ng-class="{'hide-label': classSelectSearch}">
                  <md-option ng-value="{'Name': Name.Name, 'Catagory' : Catagory.Catagory, 'Color':Catagory.Color}" ng-repeat="Name in ::Catagory.Classes | filter : classSelectSearch">{{::Name.Name}}</md-option>
               </md-optgroup>
            </md-select>
            <div style="width:6px" ng-show="operation === 'view'"></div>
            <md-chips ng-model="Post.Labels" flex ng-hide="operation != 'view' operation == 'view' && Post.Tags.length == 0" readonly="true"></md-chips>
            <div style="display:flex" ng-hide="operation == 'view'">
               <div class="label-container" style="padding-bottom:6px">
                  <div style="display:inline">
                     <div class="label unselectable label-active" ng-click="moveLabeltoAllLabels($index)" ng-repeat="Label in Post.L">{{Label.text}}</div>
                  </div>
                  <div ng-show="labelSearch == null || labelSearch == ''" style="width: 100%;text-align: center;display:inline">
                     <div class="label unselectable" ng-click="moveLabeltoActive(Label.text)" ng-repeat="Label in visibleLabels">{{Label.text}}</div>
                  </div>
                  <div ng-hide="labelSearch == null || labelSearch == ''" style="width: 100%;text-align: center;display:inline">
                     <div class="label unselectable" ng-click="moveLabeltoActive(Label.text)" ng-repeat="Label in allLabels | filter:labelSearch as filteredLabels">{{Label.text}}</div>
                     <span ng-show="filteredLabels.length === 0">{{labelSearch}} wasn't found. Add this new label: <span class="label" ng-click="addLabel(labelSearch)">{{labelSearch}}</span></span>
                  </div>
               </div>
               <md-input-container md-no-float class="md-input-min-height" style="width: 102px;margin: auto;">
                  <input type="text" placeholder="Find a Label..." ng-model="labelSearch">
               </md-input-container>
            </div>
         </div>
         <div class="md-dialog-content">
            <input ng-model="Post.Title" ng-readonly="operation === 'view'" class="new-post-title md-title" placeholder="Title" md-autofocus>
            <p class="post-card-creator md-subhead" style="margin:0" ng-hide="::Post.Creator.Name == undefined || Post.Creator.Name == myInfo.Name"><span>By {{::Post.Creator.Name}}</span><span style="float:right">(<md-icon class="small-icon">school</md-icon> {{::Post.Creator.ClassOf}})</span></p>
            <div contenteditable="{{operation != 'view'}}" ng-model="Post.Description" class="new-post-body"></div>
         </div>
      </div>
   </md-dialog-content>
   <md-dialog-actions ng-hide="operation === 'view'" layout="row" style="align-items: center;" ng-style="{'background-color': Post.Class.Color + ' 0.6)'}">
      <md-button id="New_Post_Submit" ng-click="isReadyToSubmit()" ng-disabled="previewLoading" class="md-raised">Save</md-button>
      <md-button class="text-formating-button md-icon-button " style="margin: 0 -6px 0 0; padding: 0;">
         <md-icon style="font-size:18px; line-height: 24px;">format_bold</md-icon>
      </md-button>
      <md-button class="text-formating-button md-icon-button " style="margin: 0 -6px 0 0; padding: 0;">
         <md-icon style="font-size:18px; line-height: 24px;">format_italic</md-icon>
      </md-button>
      <md-button class="text-formating-button md-icon-button " style="margin: 0 -6px 0 0; padding: 0;">
         <md-icon style="font-size:18px; line-height: 24px;">format_underline</md-icon>
      </md-button>
      <md-button class="md-icon-button text-format-button" style="margin: 0 -6px 0 0; padding: 0;">
         <md-icon style="font-size:18px;line-height: 24px;">format_list_bulleted</md-icon>
      </md-button>
      <span flex></span>
      <md-button class="md-icon-button text-format-button hover_black" style="margin-right:0px;" ng-click="closeDialog()">
         <md-icon ng-show="operation == 'new'" style="font-size:26px; line-height: 25px">delete</md-icon>
         <md-icon ng-hide="operation == 'new'" style="font-size:26px; line-height: 25px">close</md-icon>
      </md-button>
   </md-dialog-actions>
   <md-dialog-actions ng-show="operation === 'view'" layout="row" style="align-items: center;" ng-style="{'background-color': Post.Class.Color + ' 0.6)'}">
      <md-button id="like_thumb_button" aria-label="Like" ng-click="likePost(Post)">
         <span class="like-counter">{{Post.Likes.length}}</span>
         <md-icon ng-class="{'md-accent' : Post.userLiked}" style="margin-top: -8px">thumb_up</md-icon>
      </md-button>
      <md-button class="md-icon-button" area-label="Flag" ng-click="::flagPost(Post)" ng-hide="Post.Creator.Email == myInfo.Email && Post.Flagged == false">
         <md-icon ng-class="{'md-warn' : Post.Flagged == true}">flag</md-icon>
      </md-button>
      <md-button class="md-icon-button" ng-click="operation = 'update'">
         <md-icon>edit</md-icon>
      </md-button>
      <md-button class="md-icon-button" ng-click="::confirmDelete(Post,$index)">
         <md-icon>delete</md-icon>
      </md-button>
      <md-button class="md-icon-button" ng-show="devMode" ng-click="::logPostToConsole(Post,$index)">
         <md-icon>edit</md-icon>Console Log Post</md-button>
      <span flex></span>
      <md-button class="md-icon-button text-format-button hover_black" style="margin-right:0px;" ng-click="closeDialog()">
         <md-icon style="font-size:26px; line-height: 25px">close</md-icon>
      </md-button>
   </md-dialog-actions>
</md-dialog>
