<md-dialog>
  <md-dialog-content class="md-dialog-content">
    <>
    <strong>Step 1:</strong>
    <p>To sync with Quizlet in the background, StudyHub needs your permission.</p>
    <div style="position:relative; overflow:hidden; width:100%; height:100%;">
      <iframe src="https://script.google.com/macros/s/AKfycbyZgXfwg8djOo75b-2t5GS8Mu0lAajIs2XcYQuzHfAGtDUmc4qv/exec" style="border:0;position:relative;top:-40px;width:500px">
      Loading...
      </iframe>
    </div>
  </md-dialog-content>
  <md-dialog-actions>
    <md-button class="md-accent" ng-click="hideDialog()">Cancel</md-button>
  </md-dialog-actions>
</md-dialog>
