<md-dialog>
  <md-dialog-content>
    <style>
      .hidden-frame {
        border: 0;
        position: relative;
        top: -92px;
        left: -8px;
        height: 145px;
        width: 162px;
      }
      
      .hidding-div {
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 30px;
        margin-bottom: 40px;
      }
      
      .hidding-div.show {
        width: 100%;
        height: 100%;
        margin-bottom: 2px;
      }
      
      .hidding-div.show .hidden-frame {
                top: -92px;
        left: -8px;
        height: 145px;
        width: 162px;
        
      }
    </style>
    <md-tabs md-selected="quizletStepNumber" md-dynamic-height md-swipe-content ng-hide="quizletStepNumber == 3">
      <md-tab>
        <md-tab-label>Start</md-tab-label>
        <md-tab-body>
          <div class="md-dialog-content">
            <span class="md-display-1">Quizlet Connect</span>
            <p>By connecting Quizlet, you will be able to:</p>
            <ul>
              <li>Only show study sets made by York students when searching Quizlet</li>
              <li>Link your own Quizlet sets right in StudyHub</li>
              <li>Sync your public Quizlet sets with the York Quizlet class.</li>
            </ul>
            <div style="width: 100%;height: 100px;display: flex;justify-content: center; align-items: center;">
              <md-button class="md-raised md-accent" ng-click="quizletStepNumber = 1">Get Started</md-button>
            </div>
          </div>
        </md-tab-body>
      </md-tab>
      <md-tab>
        <md-tab-label>Join Class</md-tab-label>
        <md-tab-body>
          <div class="md-dialog-content">
            <strong>Step 1: </strong><span>Join the York Quizlet class</span>
            <p></p>
            <div style="box-sizing: border-box;display: table;table-layout: fixed;color: rgb(69, 83, 88);font-family: hurme_no2-webfont, -apple-system, BlinkMacSystemFont, sans-serif;font-size: 16px;text-align: center;background: #2d3639;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding: 20px 25px;">
              <div style="box-sizing: border-box; vertical-align: middle; padding: 0px;">
                <h1 style="margin: 0px 0px 4px;padding: 0px;color: white;display: inline-block;font-weight: 400;font-stretch: normal;font-size: 24px;line-height: 1.3;text-shadow: rgba(0, 0, 0, 0.498039) 1px 1px 2px;-webkit-font-smoothing: antialiased;box-sizing: border-box;">York</h1>
                <h2 style="margin: 0px;padding: 0px;color: rgba(255, 255, 255, 0.701961);font-weight: 400;font-stretch: normal;font-size: 14px;line-height: 1.3;vertical-align: middle;-webkit-font-smoothing: antialiased;box-sizing: border-box;">York School, CA</h2>
              </div>
              <div class="ClassPageHeader-actions" style="box-sizing: border-box; vertical-align: middle; padding: 0px; width: 361.818px; margin-top: 20px;">
                <div class="ClassPageHeader-actionsInner" style="box-sizing: border-box; float: none;"><span class="JoinClassButton" style="box-sizing: border-box;"><button ng-click="quizletStepNumber=2" style="-webkit-font-smoothing: antialiased; background: rgb(56, 142, 52); border-width: 1px; border-style: solid; border-color: rgb(48, 121, 44); border-radius: 2px; color: rgb(255, 255, 255); cursor: pointer; font-size: 16px; line-height: 35px; font-family: hurme_no2-webfont, -apple-system, BlinkMacSystemFont, sans-serif; padding-top: 0px; padding-right: 16px; padding-left: 16px; text-shadow: rgba(0, 0, 0, 0.298039) 0px -1px 0px; -webkit-appearance: none; margin: 0px 8px 0px 0px; outline: none 0px; vertical-align: middle;">Join Class</button></span></div>
              </div>
            </div>
          </div>
        </md-tab-body>
      </md-tab>
      <md-tab>
        <md-tab-label>Enable Sync</md-tab-label>
        <md-tab-body>
          <div class="md-dialog-content" style="padding-bottom: 0px;">
            <strong>Step 2: </strong><span>Enable sync</span>
            <p>To sync with Quizlet in the background, StudyHub needs your permission.</p>
            <div style="position:relative;overflow:hidden;width:100%;height: 30px;margin-bottom: 40px;" class="hidding-div">
              <iframe id="quizletAppsScriptFrame" src="https://script.google.com/macros/s/AKfycbyZgXfwg8djOo75b-2t5GS8Mu0lAajIs2XcYQuzHfAGtDUmc4qv/exec" class="hidden-frame" ng-click="resizeFrame()"></iframe>
            </div>
          </div>
        </md-tab-body>
      </md-tab>
      <md-tab>
        <md-tab-label>Done</md-tab-label>
      </md-tab>
    </md-tabs>
    <div class="md-dialog-content" style="padding-bottom: 0px;" ng-show="quizletStepNumber == 3">
      <span>All Done! You can change your preferences here.</span>
      <md-switch ng-model="quizletSync">Sync</md-switch>
      <p>York Quizlet Member: <strong>Yes</strong></p>
    </div>
  </md-dialog-content>
  <md-dialog-actions ng-hide="quizletStepNumber == 0">
    <md-button ng-hide="quizletStepNumber == 3" class="md-accent" ng-click="hideDialog()">Cancel</md-button>
    <span flex></span>
    <md-button ng-show="quizletStepNumber == 3" class="md-accent" ng-click="hideDialog()">Close</md-button>
    <md-button ng-show="quizletStepNumber == 2" class="md-accent" ng-click="quizletStepNumber = quizletStepNumber+1">Continue</md-button>
  </md-dialog-actions>
</md-dialog>
