<div class="side-nav-scroll" flex>
    <div class="side-nav-section">
        <md-list>
            <md-list-item>
                <md-menu-item>
                    <md-button ng-click="::gotoRoute({classPath: 'All Posts'})" ng-class="{ 'selected' : $scope.queryParams.classpath == 'All Posts' }">
                        <md-icon class="md-accent">inbox</md-icon>
                        All Posts
                    </md-button>
                </md-menu-item>
            </md-list-item>
            <md-list-item>
                <md-menu-item>
                    <md-button ng-click="::gotoRoute({classPath: 'Your Posts'})" ng-class="{ 'selected' : $scope.queryParams.classpath == 'Your Posts' }">
                        <md-icon style="color: rgb(25,157,9)">person</md-icon>
                        Your Posts
                    </md-button>
                </md-menu-item>
            </md-list-item>
            <!--<md-list-item>-->
            <!--    <md-menu-item>-->
            <!--        <md-button ng-click="::gotoRoute({classPath: 'Flagged Posts'})" ng-class="{ 'selected' : $scope.queryParams.classpath == 'Flagged Posts' }">-->
            <!--            <md-icon class="md-warn">flag</md-icon>-->
            <!--            Flagged Posts-->
            <!--        </md-button>-->
            <!--    </md-menu-item>-->
            <!--</md-list-item>-->
            <md-list-item>
                <md-menu-item>
                    <md-button ng-click="::goToQuzletPage()" ng-class="{ 'selected' : $scope.queryParams.classpath == 'York Quizlet' }">
                        <md-icon md-svg-src="images/quizlet_logo.svg" style="color: #4257b2;"></md-icon>
                        York Quizlet
                    </md-button>
                </md-menu-item>
            </md-list-item>
        </md-list>
    </div>
    <div>
        <md-list>
            <md-list-item>
                <md-menu-item>
                    <md-icon style="width:24px;">class</md-icon>
                    <span style="padding:0" flex>Classes</span>
                    <md-button style="margin:auto" class="md-icon-button" ng-click="toggleSidenavClassSearch(true)">
                        <md-icon>search</md-icon>
                    </md-button>
                    <div class="overlay-search sidenav-class-search" ng-class="{'search-visible' : globals.sideNavClassSearchOpen}">
                        <md-input-container md-no-float style="margin: auto; height: 36px;">
                            <input ng-model="sideNavClassSearch" placeholder="Filter Classes" id="sidenav_class_search_input" />
                        </md-input-container>
                        <md-button class="md-icon-button" ng-click="toggleSidenavClassSearch(false)">
                            <md-icon>close</md-icon>
                        </md-button>
                    </div>
                </md-menu-item>
            </md-list-item>
            <md-list>
                <div flex layout="column" ng-if="!sideNavClassSearch">
                    <md-button ng-repeat="favClass in myInfo.staredClasses" class="side-nav-class" ng-click="gotoRoute({classPath: favClass.name})" ng-class="{ 'selected' : queryParams.classpath == favClass.name }">
                        {{favClass.name}}
                    </md-button>
                    <md-button class="side-nav-class" ng-click="gotoRoute({classPath: 'Other'})" ng-class="{ 'selected' : queryParams.classpath == 'Other' }">Other</md-button>
                </div>
                <div ng-repeat="navCatagory in classList" flex layout="column">
                    <label ng-hide="sideNavClassSearch" class="side-nav-header" ng-style="::{'background-color': navCatagory.color + ' 1)'}">{{navCatagory.catagory}}</label>
                    <md-button class="side-nav-class" ng-repeat="navClass in navCatagory.classes | filter:sideNavClassSearch" ng-click="gotoRoute({classPath: navClass.name})" ng-class="{ 'selected' : queryParams.classPath == navClass.name }">
                        {{navClass.name}}
                    </md-button>
                </div>
            </md-list>
        </md-list>
        <div style="text-align: center;box-shadow: inset rgba(0, 0, 0, 0.24) 0px 18px 12px -20px;padding: 6px 0 0 0;" ng-if="sideNavClassSearch">Think a class or teacher is missing?
            <md-button ng-click="openFeedbackDialog()">Tell us about it.</md-button>
        </div>
    </div>
</div>
<div class="side-nav-bottom">
    <md-list style="padding: 6px 0 0 0;">
        <md-list-item>
            <md-menu-item>
                <md-button ng-click="::openHelpDialog()">
                    <md-icon>help</md-icon>
                    Help
                </md-button>
            </md-menu-item>
        </md-list-item>
        <md-list-item>
            <md-menu-item>
                <md-button ng-click="openFeedbackDialog()">
                    <md-icon>feedback</md-icon>
                    Send Feedback
                </md-button>
            </md-menu-item>
        </md-list-item>
    </md-list>
</div>
