<div class="new-post-card-top" md-ink-ripple="true">
    <span class="new-post-text-top unselectable" flex ng-click="::newPost({},'new')">
        <md-icon style="margin-top: -3px;">add_circle</md-icon>
        <span>Share a link or resource...</span>
    </span>
    <span class="new-post-option-button" ng-click="::showPicker('Upload')">
        <md-tooltip md-direction="::down">Upload</md-tooltip>
        <md-icon class="unselectable" style="color: black;">file_upload</md-icon>
    </span>
    <span class="new-post-option-button" ng-click="::showPicker('Drive')">
        <md-tooltip md-direction="::down">Add Drive file</md-tooltip>
        <md-icon class="unselectable" md-svg-icon="driveIcon"></md-icon>
        <!--<img class="unselectable" style="width:22px; height:22px;" src="images/drive_icon.svg">-->
    </span>
</div>
<style>
/*--------- new post and new post element styles ------------ */
.new-post-card-top {
position: relative;
background-color: white;
display: flex;
height: 46px;
max-width: 570px;
box-sizing: border-box;
margin: 0px auto 16px auto;
padding-right: 6px;
border-radius: 2px;
box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.new-post-text-top {
height: 100%;
top: 0px;
padding: 12px 0 12px 10px;
box-sizing: border-box;
display: inline-block;
text-transform: none;
font-family: 'Roboto Slab', serif;
color: rgba(0, 0, 0, 0.6);
}

.new-post-text-top:hover>md-icon {
color:black;
}
.new-post-card-top:hover {
   background-color: rgba(158,158,158,0.1);
}

.new-post-option-button {
height: 46px;
top: 0px;
padding: 12px 8px 12px 8px;
box-sizing: border-box;
display: inline-block;
color: black;
opacity: 0.6;
margin: 0 6px;
outline: none;
min-width: 0;
width: 40px;
}
.new-post-option-button:hover{
   opacity: 1;
}
</style>