<div class="blank-textbox new-post-card-top">
    <md-button class="new-post-text-top" ng-click="newPost()">
        <md-icon style="margin-top: -3px;">add_circle</md-icon> <span style="">Share a link or resource...</span></md-button>
    <div style="float:right">
        <md-button class="md-icon-button md-mini" style="margin-top:0px" ng-click="showPicker('Upload')">
            <md-tooltip md-direction="down">Upload</md-tooltip>
            <md-icon class="unselectable" style="margin-top:-10px; color:black">file_upload</md-icon>
        </md-button>
        <md-button class="md-icon-button md-mini" style="margin-top:4px" ng-click="showPicker('Drive')">
            <md-tooltip md-direction="down">Add Drive file</md-tooltip>
            <img class="unselectable" style="width:22px; height:22px; margin-top:0px" src="images/drive_icon.svg">
        </md-button>
    </div>
</div>
<style>
/*--------- new post and new post element styles ------------ */
.new-post-card-top {
    position: relative;
    background-color: white;
    display: block;
    height: 46px;
    max-width: 570px;
    min-width: 322px;
    margin: 0px auto 30px auto;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.md-button.new-post-text-top {
    padding: 6px 10px;
    width: 100%;
    margin: 0;
    position: absolute;
    text-transform: none;
    font-family: 'Roboto Slab', serif;
    color: rgba(0, 0, 0, 0.6);
    text-align: start;
}
.md-button.new-post-text-top:hover {
   background-color: rgba(158,158,158,0.1);
}
</style>