<md-fab-speed-dial id="speed_dial_container" md-direction="up" md-open="globals.FABisOpen" ng-class="{'button_showing' : globals.FABisHidden=false}" class="md-fling md-fab-bottom-right md-hover-full ng-cloak" ng-mouseenter="globals.FABisOpen=true"
        ng-mouseleave="globals.FABisOpen=false">
            <md-fab-trigger>
                <md-button id="new_post_button" class="md-fab md-accent raise-on-hover" ng-click="::newPost({},'new')">
                    <md-tooltip md-direction="left">Add Resource</md-tooltip>
                    <md-icon class="unselectable">add</md-icon>
                </md-button>
            </md-fab-trigger>
            <md-fab-actions>
                <md-button class="md-fab md-raised md-mini" ng-click="::showPicker('Drive')">
                    <md-tooltip md-direction="left">Add Drive file</md-tooltip>
                    <img class="unselectable" style="width:22px; height:22px; margin-top:8px" src="images/drive_icon.svg">
                </md-button>
                <md-button class="md-fab md-raised md-mini" ng-click="::newPostBeta()">
                    <md-tooltip md-direction="left">Add Link</md-tooltip>
                    <md-icon class="unselectable" style="color:black">link</md-icon>
                </md-button>
                <md-button class="md-fab md-raised md-mini" ng-click="::showPicker('Upload')">
                    <md-tooltip md-direction="left">Upload</md-tooltip>
                    <md-icon class="unselectable" style="color:black">file_upload</md-icon>
                </md-button>
            </md-fab-actions>
        </md-fab-speed-dial>
<style>
/*------------ FAB "add resource" styles ------------- */
#speed_dial_container {
   padding-bottom: 20px;
   bottom: 0px;
   margin-bottom:-25px;
   opacity:0;
   pointer-events:none;
   transition: margin-bottom 0.5s ease, opacity 0.4s;
}

#speed_dial_container.button_showing {
    padding-bottom: 20px;
    margin-bottom: 0px;
   bottom: 0px;
   opacity: 1;
   pointer-events: inherit;
   transition: margin-bottom 0.5s ease, opacity 0.4s;
}

#speed_dial_container #new_post_button {
    transition: box-shadow 1s;
}

#speed_dial_container:hover #new_post_button {
    transition: box-shadow 0.3s;
    box-shadow: 0 0 6px rgba(0, 0, 0, .16), 0 6px 12px rgba(0, 0, 0, .32);
}
</style>