<md-dialog ng-cloak id="new_post_dialog">
   <md-toolbar id="dialog_header">
      <div class="md-toolbar-tools">
         <div class="md-icon-button">
            <md-icon>group</md-icon>
         </div>
         <h2><span>Title</span></h2>
         <span flex></span>
      </div>
      <img ng-src="{{previewThumbnail}}" crossorigin="anonymous" id="header_image" onload="onPreviewLoad()">
      <div class="newPostImgGradient" flex layout="column">
         <md-input-container md-no-float id="newPostLinkInput">
            <input id="newPostLinkInputTxt" ng-model="Link" style="color:white" placeholder="http://" ng-change="findType()" type="text">
           <md-progress-linear class="link-loading" md-mode="indeterminate" ng-disabled="!previewLoading"></md-progress-linear>
         </md-input-container>
         <md-menu md-position-mode="target-right target" md-offset="0 -45">
            <md-button ng-click="$mdOpenMenu($event)" class="md-icon-button">
               <md-icon md-menu-origin>attach_file</md-icon>
            </md-button>
            <md-menu-content>
               <md-menu-item>
                  <md-button><span flex>Upload file</span>
                     <md-icon style="margin: auto 0 auto 16px">file_upload</md-icon>
                  </md-button>
               </md-menu-item>
               <md-menu-item>
                  <md-button><span flex>Attatch drive file</span><img md-menu-align-target class="unselectable" style="width:22px; height:22px; float:right; margin: auto 0 auto 16px; opacity: 0.54;" src="images/drive_icon.svg"></md-button>
               </md-menu-item>
            </md-menu-content>
         </md-menu>
      </div>
   </md-toolbar>
   <md-dialog-content id="dialog_scroll">
      <div flex layout="row">
         <class-select-menu></class-select-menu>
         <md-chips ng-model="Tags" flex md-separator-keys="[32,188,13]">
            <input type="text" placeholder="Add a tag">
         </md-chips>
      </div>
      <div class="md-dialog-content">
         <input ng-model="Title" class="newPostTitle md-title" placeholder="Title" md-autofocus>
         <div id="DescriptionTxt" class="newPostBody" contenteditable="true"></div>
      </div>
   </md-dialog-content>
   <md-dialog-actions layout="row">
      <md-button id="New_Post_Submit" ng-click="isReadyToSubmit()" class="md-raised">Submit</md-button>
      <md-button class="text-formating-button md-icon-button " style="margin: 0 -6px 0 0; padding: 0;">
         <md-icon style="font-size:18px; line-height: 24px;">format_bold</md-icon>
      </md-button>
      <md-button class="text-formating-button md-icon-button " style="margin: 0 -6px 0 0; padding: 0;">
         <md-icon style="font-size:18px; line-height: 24px;">format_italic</md-icon>
      </md-button>
      <md-button class="text-formating-button md-icon-button " style="margin: 0 -6px 0 0; padding: 0;">
         <md-icon style="font-size:18px; line-height: 24px;">format_underline</md-icon>
      </md-button>
      <md-button class="md-icon-button text-format-button" style="margin: 0 -6px 0 0; padding: 0;">
         <md-icon style="font-size:18px;line-height: 24px;">format_list_bulleted</md-icon>
      </md-button>
      <span flex></span>
      <md-button class="md-icon-button text-format-button hover_black" style="margin-right:0px;" ng-click="close()">
         <md-icon style="font-size:26px; line-height: 25px">delete</md-icon>
      </md-button>
   </md-dialog-actions>
</md-dialog>