<div class="post-card-header" ng-click="::openLink(Post.Link)">
    <img ng-src="{{::Post.ImageURL}}" class="post-card-image" ng-hide="::Post.Link == ''" onerror="this.src = '';">
    <div class="post-card-image-gradient">
        <p class="post-card-link-text" ng-hide="::Post.Link == ''">
            <i class="zmdi zmdi-globe-alt zmdi-hc-fw"></i> <span> {{::Post.Link}}</span>
        </p>
        <div class="post-card-metadata-text">
            <p style="margin-bottom:2px; margin-top: 6px; font-size: 15px; font-weight:700; font"> <i class="zmdi zmdi-label zmdi-hc-fw" ng-hide="::Post.Tags === ''"></i><span ng-repeat="::Tag in Post.Tags"> {{::Tag}},</span></p>
            <i class="zmdi zmdi-calendar zmdi-hc-fw"></i><span style="margin-right:10px"> {{::Post.CreationDate | date : "m/dd/yyyy"}}</span>
            <i class="zmdi zmdi-accounts-alt zmdi-hc-fw"></i> <span> {{::Post.Class.Name}}</span>
        </div>
    </div>
</div>
<p class="post-card-title">{{::Post.Title}}</p>
<p class="post-card-creator"><span>By {{::Post.Creator.Name}}</span><span style="float:right">(<i class="zmdi zmdi-graduation-cap"></i> {{Post.Creator.ClassOf}})</span></p>
<p id="post_card_description" ng-bind-html="::Post.Description" ng-class="{ 'OverflowShadow': Document.getElementById('post-card-description').scrollHeight > Document.getElementById('post-card-description').clientHeight }">

</p>
<md-card-actions layout="row" layout-align="start center">

    <p class="like-counter">{{::Post.LikeUsers.length}}</p>
    <md-button id="like_thumb_button" class="md-icon-button" aria-label="Like">
        <md-icon>thumb_up</md-icon>
    </md-button>
    <md-button class="md-icon-button" id="flag_button" area-label="Flag" style="margin-left: -4px;" ng-hide="::Post.Creator.Email === myInfo.Email">
        <md-icon>flag</md-icon>
    </md-button>
    <md-menu md-position-mode="target" md-offset="7 0" style="padding:0px">
        <!-- Trigger element is a md-button with an icon -->
        <md-button ng-click="::$mdOpenMenu($event)" ng-show="::Post.Creator.Email === myInfo.Email" class="md-icon-button" style="margin-left: -12px;">
            <md-icon>more_vert</md-icon>
        </md-button>
        <md-menu-content>
            <md-menu-item>
                <md-button>
                    <md-icon>flag</md-icon>Flag</md-button>
            </md-menu-item>
            <md-menu-item>
                <md-button ng-click="::confirmDelete($event,Post,$index)">
                    <md-icon>delete</md-icon>Delete</md-button>
            </md-menu-item>
            <md-menu-item>
                <md-button>
                    <md-icon>edit</md-icon>Edit</md-button>
            </md-menu-item>
        </md-menu-content>
    </md-menu>

    <md-button id="open_button" ng-hide="::Post.Link == ''" class="md-button md-accent" ng-click="::openLink(Post.Link)" aria-label="Open resource">Open Resource</md-button>
</md-card-actions>
<style>
    /*-------------- post card styles ----------- */

    .posts-content {
        position: relative;
    }

    .post-card {
  background: white;
  min-width: 100px;
  min-height: 100px;
  max-width: 400px;
  margin: 8px;
  -webkit-transition: .4s;
  transition: .4s;
  opacity: 0;
  -webkit-transform: scale(0.75) translate3d(0, 200px, 0);
  transform: scale(0.75) translate3d(0, 200px, 0);
  border-radius: 2px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
    }

    .post-card-header {
        width: 100%;
        height: 100%;
        min-height: 42px;
        cursor: pointer;
        background-color: grey;
        max-height: 20em;
        position: relative;
        overflow: hidden;
    }

    .post-card-image {
        border-radius: 2px 2px 0 0;
        box-sizing: border-box;
        display: flex;
        flex: 0 0 auto;
        width: 100%;
        height: auto;
        opacity: 0;
        visibility: hidden;
    }

    .post-card-image.img-loaded {
        visibility: visible;
        opacity: 1;
    }

    .post-card-image-gradient {
        z-index: 1;
        position: absolute;
        right: 0;
        left: 0;
        bottom: 0;
        display: inline-block;
        flex: 1;
        cursor: pointer;
        height: 56px;
        background-image: linear-gradient(to top, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));
    }

    .post-card-metadata-text {
        margin: 10px 16px 0 16px;
        color: white;
        cursor: pointer;
        text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.45);
        white-space: nowrap;
        overflow: hidden;
        text-align: center;
        text-overflow: ellipsis;
        font-weight: normal;
        font-size: 12px;
        transition: opacity 0.2s
    }

    .post-card-header:hover .post-card-metadata-text {
        opacity: 0;
        transition: opacity 0.2s
    }

    .post-card-link-text {
        opacity: 0;
        position: absolute;
        top: 27.5px;
        margin: 0px 16px;
        color: white;
        width: 240px;
        cursor: pointer;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-weight: bold;
        transition: opacity 0.2s;
    }

    .post-card-header:hover .post-card-link-text {
        opacity: 1;
        transition: opacity 0.2s
    }

    .post-card-title {
        padding: 20px 16px 0px 16px;
        margin: 0px;
        flex-direction: row;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100%;
        font-size: 20px;
        font-weight: 400;
        line-height: 32px;
    }

    .post-card-creator {
        color: rgba(0, 0, 0, .54);
        font-size: 12px;
        margin: 0px 16px 16px 16px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        word-break: break-all;
    }

    button.md-icon-button.md #flag_button {
        margin-left: 0px
    }

    #like_thumb_button {
        margin-left: -5px;
    }

    #open_button {
        margin-left: auto;
    }

    .like-counter {
        margin-bottom: 6px;
        margin-left: 4px;
    }

    #post_card_description {
        overflow: hidden;
        display: block;
        margin: 0 16px 0 16px;
        padding: 0;
        color: black;
    }

    .overflow-shadow {
        background-color: rgba(250, 250, 250, 0.05);
        box-shadow: inset 0px -32px 25px -30px rgba(0, 18, 25, 0.4);
        border-style: groove;
        border-width: 0px;
        border-bottom-width: 1px;
        border-color: rgb(68, 138, 255);
        border-radius: 2px;
    }
</style>