<link rel="stylesheet" href="css/sideNav.css" />
<div class="side-nav-scroll">
    <div class="side-nav-section">
        <md-list>
            <md-list-item>
                <md-menu-item>
                    <md-button ng-click="::gotoRoute('/all-posts')" ng-class="{ 'selected' : pathSelected('/all-posts') }">
                        <md-icon>inbox</md-icon>
                        All Posts
                    </md-button>
                </md-menu-item>
            </md-list-item>
            <md-list-item>
                <md-menu-item>
                    <md-button ng-click="::gotoRoute('/my-posts')" ng-class="{ 'selected' : pathSelected('/my-posts') }">
                        <md-icon>person</md-icon>
                        My Posts
                    </md-button>
                </md-menu-item>
            </md-list-item>
            <md-list-item>
                <md-menu-item>
                    <md-button ng-click="::gotoRoute('/flagged')" ng-class="{ 'selected' : pathSelected('/flagged') }">
                        <md-icon>flag</md-icon>
                        Flagged
                    </md-button>
                </md-menu-item>
            </md-list-item>
        </md-list>
    </div>
    <div>
        <md-list>
            <md-list-item>
                <md-menu-item>
                    <md-icon>group</md-icon>
                    <span>Classes</span>
                    <md-icon>search</md-icon>
                </md-menu-item>
            </md-list-item>
            <md-list>
                <div  class="darken-on-hover md-text" ng-class="{ 'selected' : pathSelected('/Other') }">
                        Other / Not associated
                </div>
                <md-optgroup ng-repeat="Catagory in classList" label="{{Catagory.Name}}">
                    <md-option ng-repeat="Class in Catagory.Classes" value="{{Class}}" class="darken-on-hover rounded-right" ng-class="{ 'selected' : pathSelected('/' + Class) }">
                        {{Class}}
                        <div class="md-ripple-container"></div>
                    </md-option>
                </md-optgroup>
                <!--<md-list-item ng-repeat="Catagory in classList" style="flex-direction: column">-->
                <!--        <md-menu-item>-->
                <!--        {{Catagory.Name}}-->
                <!--        </md-menu-item>-->
                <!--    <md-list style="width:90%">-->
                <!--        <md-list-item ng-repeat="Class in Catagory.Classes">-->
                <!--             <md-menu-item>-->
                <!--            <md-button ng-class="{ 'selected' : pathSelected('/' + Class) }">-->
                <!--                {{Class}}-->
                <!--            </md-button>-->
                <!--            </md-menu-item>-->
                <!--        </md-list-item>-->
                <!--    </md-list>-->
                <!--</md-list-item>-->
            </md-list>
        </md-list>
    </div>
    <div class="side-nav-bottom">
        <md-list style="padding: 6px 0 0 0;">
            <md-list-item>
                <md-menu-item>
                    <md-button>
                        <md-icon>settings</md-icon>
                        Settings
                    </md-button>
                </md-menu-item>
            </md-list-item>
            <md-list-item>
                <md-menu-item>
                    <md-button href="mailto:worcester-moorek2018@york.org?Subject=York%20App%20Problem" target="_blank">
                        <md-icon>feedback</md-icon>
                        Feedback
                    </md-button>
                </md-menu-item>
            </md-list-item>
        </md-list>
    </div>
</div>
</md-content>