<md-toolbar class="md-whiteframe-z2 ng-cloak">
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" ng-click="::toggleSidebar()">
            <md-icon class="">menu</md-icon>
        </md-button>
        <h2>
          <span class="unselectable default-mouse" style="font-size: 110%">YORK </span>
          <span class="unselectable default-mouse" style="font-size: 80%" >Study Resources </span>
        </h2>
        <div style="flex:1"></div>
        <md-input-container md-no-float class="md-accent" flex="50" style="padding-bottom:0px;margin-left:25px">
            <md-icon style="color:white" class="material-icons">&#xE8B6;</md-icon>
            <input ng-model="searchInput" placeholder="Search" style="color:white;padding-left:25px;margin-left:5px">
        </md-input-container>
        <div style="flex:18"></div>
        <md-button class="md-icon-button" onclick="initiateDrive()">
            <md-icon class="">refresh</md-icon>
            <md-tooltip>Refresh</md-tooltip>
        </md-button>
        <md-button class="md-icon-button" ng-click="::helpDialog()">
            <md-icon class="">help</md-icon>
            <md-tooltip>Help</md-tooltip>
        </md-button>
        <md-button class="md-icon-button md-mini" aria-label="account" style="margin-top:4px">
            <img class="unselectable" style="width:42px; height:42px; margin-top: -9px; margin-left: -9px; cursor:pointer;" src="images/accountPic.png">
        </md-button>
    </div>
</md-toolbar>
<style>
    /*---------- toolbar and toolbar element styles -------- */
    
    #york_study_logo {
        margin: 16px 24px 16px 0;
    }
    
    #account_picture {
        Height: 3.5em;
        Width: 3.5em;
    }
    
    input.search-field {
        font-size: 14px;
        background: 0;
        outline: none;
        border: 0;
        height: 36px;
        margin: 0;
        padding: 8px 8px 8px 72px;
        transition: color .2s;
        display: block;
    }
    
    md-icon.search-icon.material-icons {
        color: rgba(30, 30, 30, 1);
        position: relative;
        margin-top: -24px;
        top: 29.5px;
        margin-left: 24px;
        margin-right: 0px;
        transition: color .2s;
    }
    
    .search-wrapper {
        margin: auto 26px auto 26px;
        height: 36px;
        flex: 104;
        max-width: 525px;
        border-radius: 3px;
        background: rgba(255, 255, 255, 0.32);
        transition: background .2s;
    }
    
    .search-wrapper:hover {
        background: rgba(255, 255, 255, 0.4);
    }
    
    .search-wrapper .search-field:focus {
        background: rgba(255, 255, 255, 1);
        border-radius: 3px;
        box-shadow: 0 0 4px rgba(0, 0, 0, .12), 0 2px 4px rgba(0, 0, 0, .24);
    }
    
    md-icon.search-icon.ng-isolate-scope.material-icons .search-field:focus {
        color: rgba(255, 255, 255, 0.8);
    }
    /* Search field placeholder colors to be compatable with all browsers */
    
    input.search-field::-webkit-input-placeholder {
        color: #fff;
    }
    
    input.search-field:focus::-webkit-input-placeholder {
        color: #757575;
    }
    
    input.search-field:-moz-placeholder {
        color: #fff;
    }
    
    input.search-field:focus:-moz-placeholder {
        color: #757575;
    }
    
    input.search-field:-ms-input-placeholder {
        color: #fff;
    }
    
    input.search-field:focus:-ms-input-placeholder {
        color: #757575;
    }
</style>