    <div  class="md-toolbar-tools">
        <md-button class="md-icon-button" ng-click="::toggleSidebar()">
            <md-icon>menu</md-icon>
        </md-button>
        <img hide-gt-sm show-xs show-sm  style="height: 46px;" src="./images/logo.png"/>
        <h2 show-gt-sm hide-xs hide-sm >
          <span class="unselectable default-mouse" style="font-size: 110%">YORK </span>
          <span class="unselectable default-mouse" style="font-size: 80%" >Study Resources </span>
        </h2>
        <search-bar hide-xs show-gt-xs  style="margin-right: 12px;"></search-bar>
        <div hide-gt-xs show-xs class="hover-search" ng-class="{'hover-search-visible' : globals.mobileSearchOpen}">
            <md-button class="md-icon-button" style="margin-right: -20px" ng-click="toggleMobileSearch()">
                <md-icon>close</md-icon>
            </md-button>
            <search-bar></search-bar>
        </div>
        <span flex hide-gt-xs show-xs></span>
        <md-button hide-gt-xs show-xs class="md-icon-button" ng-click="toggleMobileSearch()">
            <md-icon>search</md-icon>
        </md-button>
        <md-button class="md-icon-button" ng-click="getFiles()">
            <md-icon>refresh</md-icon>
            <md-tooltip>Refresh</md-tooltip>
        </md-button>
        <md-button hide-sm hide-xs show-gt-sm class="md-icon-button" ng-click="::helpDialog()">
            <md-icon>help</md-icon>
            <md-tooltip>Help</md-tooltip>
        </md-button>
        <md-button class="md-icon-button" id="account_button" aria-label="account" style="height:36px;width:36px;border-radius:50%">
        </md-button>
    </div>