    <!------------------desktop version--------------------->
    <div  class="md-toolbar-tools">
        <md-button class="md-icon-button" ng-click="::toggleSidebar()">
            <md-icon>menu</md-icon>
        </md-button>
        <h2>
          <span class="unselectable default-mouse" style="font-size: 110%">YORK </span>
          <span show-gt-sm hide-xs hide-sm class="unselectable default-mouse" style="font-size: 80%" >Study Resources </span>
        </h2>
        <search-bar hide-xs show-gt-xs  style="margin-right: 12px;"></search-bar>
        <div hide-gt-xs show-xs class="hover-search" ng-class="'hover-search-visible' : globals.mobileSearchOpen">
            <md-button class="md-icon-button" style="margin-right: -20px" ng-click="$scope.globals.mobileSearchOpen = !$scope.globals.mobileSearchOpen">
                <md-icon>close</md-icon>
                <md-tooltip>Close</md-tooltip>
            </md-button>
            <search-bar></search-bar>
        </div>
        <span flex hide-gt-xs show-xs></span>
        <md-button hide-gt-xs show-xs class="md-icon-button" ng-click="toggleMobileSearch()">
            <md-icon>search</md-icon>
            <md-tooltip>Search</md-tooltip>
        </md-button>
        <md-button class="md-icon-button" onclick="initiateDrive()">
            <md-icon>refresh</md-icon>
            <md-tooltip>Refresh</md-tooltip>
        </md-button>
        <md-button class="md-icon-button" ng-click="::helpDialog()">
            <md-icon>help</md-icon>
            <md-tooltip>Help</md-tooltip>
        </md-button>
        <md-button class="md-icon-button md-mini" aria-label="account" style="margin-top:4px">
            <img class="unselectable" style="width:42px; height:42px; margin-top: -9px; margin-left: -9px; cursor:pointer;" src="images/accountPic.png">
        </md-button>
    </div>
    <!------------------mobile version--------------------->